.headerbar {
	height: var(--header-height);
	width: 100%;
	background: var(--red);
	display: flex;
	position: relative;
}

.themeswitcher {
	position: absolute;
	aspect-ratio: 1;
	top: 4px;
	right: 4px;
	bottom: 4px;

	background: none;
	border: none;
	border-radius: 5px;

	transition: background 0.3s;
}

.themeswitcher:hover {
	background: color-mix(in srgb, var(--fg) 20%, transparent);
}

.themeswitcher:active {
	background: color-mix(in srgb, var(--fg) 40%, transparent);
}

.icon {
	width: 100%;
	height: 100%;
}

.headertitle {
	color: var(--bg);
	display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 4px;
    text-decoration: none;
    font-size: 12pt;
    flex-shrink: 0;
    align-self: flex-start;
    height: 100%;
}

.bggBackground {
    height: calc(100% - 8px);
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 0 1em;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.fit {
    height: 80%;
    width: auto;
    max-width: 100%;
}
