.gamebox {
    background-color: var(--bg-highlight);
    color: var(--fg);
    border: none;
    width: 100%;
    height: fit-content;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    text-align: left;
    display: block;
    position: relative;
}

.gamebox .content {
}

.gamebox .seemore {
    position: absolute;
    margin: 0.5em;
    bottom: 0;
    right: 0;
}

.gamebox .hstack {
    height: inherit;
}

.size-2xl .gamebox .mystack,
.size-xl .gamebox .mystack,
.size-l .gamebox .mystack,
.size-m .gamebox .mystack {
    display: flex;
    flex-direction: row;
}

.size-xs .gamebox .mystack,
.size-s .gamebox .mystack {
    display: flex;
    flex-direction: column;
}

.gamebox.open .mystack.players_time {
    margin-bottom: 0.5em;
}

.gamebox .thumb {
    max-height: 125px;
    height: 125px;
    max-width: 125px;
    width: 125px;
}

.gamebox .bggLink {
    margin-right: 1em;
    height: fit-content;
    width: fit-content;
}

.size-xs .gamebox.open .bggLink,
.size-s .gamebox.open .bggLink {
    margin-bottom: 1em;
}

.gamebox .title {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5em;
}

.gamebox .stat {
    margin: 0;
    font-size: 11pt;
}

.size-2xl .gamebox .stat,
.size-xl .gamebox .stat,
.size-l .gamebox .stat,
.size-m .gamebox .stat {
    margin-right: 2em;
}

.size-xs .gamebox .stat,
.size-s .gamebox .stat {
    margin-bottom: 0.5em;
}

.gamebox .heading {
    font-size: 11pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5em;
}

.gamebox .statlist {
    margin: 0;
}

.gamebox .statitem {
    font-size: 11pt;
}

.size-2xl .gamebox .statlist,
.size-xl .gamebox .statlist,
.size-l .gamebox .statlist,
.size-m .gamebox .statlist {
    margin-right: 2em;
}

.size-xs .gamebox .statlist,
.size-s .gamebox .statlist {
    margin-bottom: 1em;
}

.gamebox .statlist > ul {
    list-style-type: "- ";
    margin: 0;
    padding: 0 1em;
}

.bigicon {
    width: 40px;
    height: auto;
}

.noborder {
    border: none;
}


.size-2xl .playerCount,
.size-xl .playerCount,
.size-l .playerCount,
.size-m .playerCount {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.size-xs .playerCount,
.size-s .playerCount {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.size-xs .playerCount .any,
.size-s .playerCount .any {
    grid-column: 1;
    grid-row: 1/3;
}

.playerCount > button {
    color: var(--fg);
    border: 2px solid var(--fg);
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5em 0;
}

.playerCount > button.on {
    color: var(--fg);
    border: 2px solid var(--blue);
    border-radius: 4px;
}

.playTime input {
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--fg);
    border-radius: 4px;
    width: 4em;
    padding: 0.5em 1em;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.playTime input::-webkit-inner-spin-button,
.playTime input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.pageTurner {
    width: 80%;
    justify-content: space-between;
}

.pageTurner > button {
    border-radius: 4px;
    padding: 0.5em 1em;
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--fg);
}

.pageTurner .dec {
    top: 0;
    left: 0;
}

.pageTurner .inc {
    top: 0;
    right: 0;
}

.pageTurner .infotxt {
    text-align: center;
}

